@tailwind base;
@tailwind utilities;
@tailwind components;

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Khand:wght@300;400;500;600;700&display=swap");

* {
	@apply m-0 box-border min-w-0 p-0;
}

::-moz-selection {
	@apply bg-secondary-green;
}

::selection {
	@apply bg-secondary-green;
}

body {
	@apply h-[200vh] min-h-dvh w-full font-heebo;
}

a,
button {
	@apply pointer-events-auto cursor-pointer;
}

a {
	@apply hover:underline;
}

#root {
	@apply h-full w-full;
}

@keyframes drop-show {
	0% {
		opacity: 0.7;
		transform: translateY(-1200px) scale(0.7);
	}
	80% {
		opacity: 0.7;
		transform: translateY(0) scale(0.7);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes lift-hide {
	20% {
		transform: translate3d(0, -10px, 0) scaleY(0.985);
	}
	40%,
	45% {
		opacity: 1;
		transform: translate3d(0, 20px, 0) scaleY(0.9);
	}
	100% {
		opacity: 0;
		transform: translate3d(0, -2000px, 0) scaleY(3);
	}
}

@keyframes bg-hide {
	0%,
	70% {
		background-color: #fff;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
	}
	100% {
		background-color: transparent;
		box-shadow: none;
	}
}

@keyframes bg-show {
	0% {
		background-color: transparent;
		box-shadow: none;
	}
	80% {
		background-color: transparent;
		box-shadow: none;
	}
	100% {
		background-color: #fff;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
	}
}
