@tailwind base;
@tailwind utilities;
@tailwind components;

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Exo:ital,wght@0,100..900;1,100..900&display=swap");

* {
	@apply m-0 box-border min-w-0 p-0;
}

::-moz-selection {
	@apply bg-secondary-green;
}

::selection {
	@apply bg-secondary-green;
}

body {
	@apply h-full min-h-dvh w-full font-heebo;
}

a,
button {
	@apply pointer-events-auto cursor-pointer;
}

a {
	@apply hover:underline;
}

#root {
	@apply h-full w-full;
}

.section {
	@apply px-[8%];
}

.highlight-container.pink {
	@apply bg-tertiary-pink;
}

.highlight-container.green {
	@apply bg-tertiary-green;
}

.highlight-container.yellow {
	@apply bg-tertiary-yellow;
}

.highlight-container.mint {
	@apply bg-tertiary-mint;
}

.highlight-container.violet {
	@apply bg-tertiary-violet;
}

.highlight-container > .highlight {
	@apply after:absolute after:bottom-0 after:left-0 after:-z-1 after:block after:h-2/3 after:w-full after:transition-[background,height] after:duration-300 after:content-[''];
}

.highlight-container > .highlight.pink {
	@apply border-b-pink hover:after:bg-pink/50 after:bg-tertiary-pink;
}

.highlight-container > .highlight.green {
	@apply border-b-green after:bg-tertiary-green hover:after:bg-green/50;
}

.highlight-container > .highlight.yellow {
	@apply border-b-yellow after:bg-tertiary-yellow hover:after:bg-yellow/50;
}

.highlight-container > .highlight.mint {
	@apply border-b-mint after:bg-tertiary-mint hover:after:bg-mint/50;
}

.highlight-container > .highlight.violet {
	@apply border-b-violet after:bg-tertiary-violet hover:after:bg-violet/50;
}

@keyframes drop-show {
	0% {
		opacity: 0.7;
		transform: translateY(-1200px) scale(0.7);
	}
	80% {
		opacity: 0.7;
		transform: translateY(0) scale(0.7);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes lift-hide {
	20% {
		transform: translate3d(0, -10px, 0) scaleY(0.985);
	}
	40%,
	45% {
		opacity: 1;
		transform: translate3d(0, 20px, 0) scaleY(0.9);
	}
	100% {
		opacity: 0;
		transform: translate3d(0, -2000px, 0) scaleY(3);
	}
}

@keyframes bg-hide {
	0%,
	70% {
		background-color: #fff;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
	}
	100% {
		background-color: transparent;
		box-shadow: none;
	}
}

@keyframes bg-show {
	0% {
		background-color: transparent;
		box-shadow: none;
	}
	80% {
		background-color: transparent;
		box-shadow: none;
	}
	100% {
		background-color: #fff;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
	}
}
